/*значения переменных для темной темы*/
:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-accent-color: var(--pink-bright, #ff0070);
  --main-text-color: var(--pink, #f1b2ce);
  --text-accent-color: var(--blue-dark,#000028);
  --title-menu-color: var(--pink-bright, #ff0070);
  --menu-border-color-rgba: var(--pink-dark-translusent, rgba(225 0 112 / 0.4));
  --title-xl-color: var(--fuchsia, #db00ff);
}    

/*стили для принудительного включения темной темы*/
.theme-dark .page {
  background-image: var(--bg-image);
}

.theme-dark .header {
  position: relative;
}  

.theme-dark .header__decorative-element::before {
  display: inline;
  content: 'REC';
  color: var(--title-menu-color, #ff0070);
  inset-block-start: 10px;
  inset-inline-end: 38px;
  line-height: 139%;
  font-size: 18px;
  position: absolute;
  z-index: 1;
}

.theme-dark .header__decorative-element::after {
  display: inline;
  content:' ';
  inline-size: 11px;
  block-size: 11px;
  border-radius: 50%;
  background-color: var(--title-menu-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--title-menu-color, #ff0070);
  inset-inline-end: 18px;
  inset-block-start: 17px;
  position: absolute;
  z-index: 1;
}

@media (width >= 768px) {
 
  .theme-dark .header__decorative-element::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }
  
  .theme-dark .header__decorative-element::after {
    inset-inline-end: 28px;
    inset-block-start: 27px;
  }

}