/* Основные стили проекта. Это стили для темы, которая верстается первой, т.е. для темной*/

.page {
  font-family: var(--font-family, 'IBM Plex mono', sans-serif);
  background-image: var(--bg-image, url("../images/cover-image-dark.png"));
  background-color: var(--bg-color, #000028);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: 40px;
  padding: var(--padding-small, 10px);
  block-size: min(100vb, 668px);
}

.header__decorative-element::before {
  content: 'REC';
  position: absolute;
  z-index: 1;
  display: inline;
  color: var(--title-menu-color, #ff0070);
  font-size: 18px;
  line-height: 139%;
  inset-block-start: 10px;
  inset-inline-end: 38px;
}
  
.header__decorative-element::after {
  content:' ';
  position: absolute;
  z-index: 1;
  display: inline;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--title-menu-color, #ff0070);
  background-color: var(--title-menu-color, #ff0070);
  inline-size: 11px;
  block-size: 11px;
  inset-inline-end: 18px;
  inset-block-start: 17px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content:' ';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--title-menu-color, #ff0070);
  border-block-end: 1px solid var(--title-menu-color, #ff0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--title-menu-color, #ff0070);
  border-block-start: 1px solid var(--title-menu-color, #ff0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.header__theme-menu {
  place-self: center end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 100%;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 12px 3px;
  color: var(--title-menu-color, #ff0070);
  font-size: var(--font-size-main-text, 18px);
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-border-color-rgba, rgba(225 0 112 / 0.4));
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--title-menu-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-menu-color, #ff0070);
  pointer-events: none;
}

.header__title {
 place-self: center start;
}

.title {
  color: var(--title-menu-color, #ff0070);
  font-weight: 700;
  font-size: var(--font-size-main-text, 18px);
  line-height: 130%;
}

.title_large {
  color: var(--title-xl-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--bg-accent-color,#ff0070);
}

.title-decor {
  color: var(--text-accent-color, #000028);
  background-color: var(--bg-accent-color, #ff0070);
}

.header__title-description {
  place-self: center start;
}

.content {
  display: grid;
  gap: 49px;
  margin-block-end: 41px;
  padding-inline: var(--padding-small, 10px);
  inline-size: 100%;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
}

.content-section__paragraph-subtitle {
  font-weight: 400;
}

.content-section__paragraph-text {
  color: var(--main-text-color, #f1b2ce);
  font-weight: 400;
  font-size: var(--font-size-main-text, 18px);
  line-height: 130%;
}

.content-section__link {
  text-shadow: 2px 1px 0 var(--bg-accent-color,#ff0070);
}

.content-section__link:hover {
  border-block-end: 1px solid var(--main-text-color, #f1b2ce);
}

.content-section__link:focus-visible {
  outline: 1px solid var(--main-text-color, #f1b2ce);
}

.gallery-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 11px;
}

.gallery-section__title {
    grid-row: 1 / 2;
    inline-size: 100%;
}

.gallery-section__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 2 / 3;
  gap: 10px;
  inline-size: 100%;
}

.gallery-section__item {
  inline-size: 100%;
  block-size: 100%;
}

.gallery-section__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-rows: min(100vb, 668px);
  inline-size: 100%;
}

.footer__title {
  place-self: center center;
  text-shadow: 2px 2px 0 var(--bg-accent-color,#ff0070);
}

@media (width >= 768px) {
  
  .header {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-block-end: 60px;
    padding-inline: 0 var(--padding-large, 20px);
    padding-block: var(--padding-large, 20px);
    block-size: min(100vb, 1024px);
  }

  .header__decorative-element::before {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }
  
  .header__decorative-element::after {
    inset-inline-end: 28px;
    inset-block-start: 27px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .header__title {
    grid-column: 1 / 3;
  }

  .title_large {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title-description {
    grid-column: 2 / 3;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .content {
    gap: 80px;
    margin-block-end: 60px;
    padding-inline: var(--padding-large, 20px);
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section__title {
    grid-column: 1 / 2;
  }

  .content-section .content-section__list {
    grid-column: 2 / 3;
  }

  .content-section_causes .content-section__list {
    grid-column: 1 / 3;
  }
  
  .gallery-section {
    gap: 19px;
  }
 
  .gallery-section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25vi 30vi 41.4vi;
    gap: 20px;
  }

  .gallery-section__item_sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery-section__item_ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    
  }

  .gallery-section__item_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery-section__item_books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery-section__item_street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    grid-template-rows: min(100vb, 1024px);
  }
}

@media (width >= 1024px) {
 
  .header {
    block-size: min(100vb,768px);
  }

  .header__theme-menu {
    grid-column: 1/3;
    place-self: start center;
    margin-inline-start: 20px;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section {
  grid-template-columns: 1fr 1fr 1fr;
  }

  .content-section_causes {
    grid-template-rows: repeat(2, min-content);
  }

  .content-section .content-section__list {
    grid-column: 2 / 4;
  }

  .content-section_causes .content-section__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    gap: 20px;
  }

  .gallery-section__list {
    grid-template-columns: repeat(3, 1fr);
    /*ограничения высоты строк заданы для того, чтобы галерея не тянулась по высоте
     при достижении максимальной ширины экрана, иначе будут искажаться 
     пропорции изображений*/
    grid-template-rows: min(25.4vi, 366px) min(30.7vi, 442px) min(42.3vi, 609px);
    gap: 20px;
  }

  .footer {
    grid-template-rows: min(100vb,768px);
  }
}